.wrapper{
	position: relative;
	width: 1560px;
	display: flex;
	justify-content: space-between;
	gap: 0 40px;
	margin: 0 auto;
}

.person{
	position: absolute;
	bottom: 40px;
	right: 140px;
	z-index: 5;
}
